In [1]:
num1 = float(input('enter the first number for edition'))
num2 = float(input('enter the second number for edition'))
sum = float(num1+num2)
print('sum',sum)

enter the first number for edition 2
enter the second number for edition 2

sum 4.0

In [2]:
dividend = float(input('enter the dividend for divition'))
divisor = float(input('enter the divisor for divition'))
division = float(dividend/divisor)
print('division',division)

enter the dividend for divition 25
enter the divisor for divition 5

division 5.0

In [3]:
length = float(input('enter the length of a triangle'))
height = float(input('enter the height of a triangle'))
area = float(length*height/2)
print('the area of triangle is',area)

enter the length of a triangle 2
enter the height of a triangle 2

the area of triangle is 2.0

In [15]:
celsius = float(37)
fehranhite  = float((celsius*(9/5))+32)
print('37 degree fehranhite is equal to 98.6 degree farenheite',fehranhite)

37 degree farenhiete is equal to 98.6 degree farenheite 98.60000000000001

In [14]:
print('the data type of 19 is:',type(19))
print('the data type of 16.5 is:',type(16.5))
print('the data type of muhammad arqum is:',type('muhammad arqum'))
print('the data type of true is:',type(True))

the data type of 19 is: <class 'int'>
the data type of 16.5 is: <class 'float'>
the data type of muhammad arqum is: <class 'str'>
the data type of true is: <class 'bool'>